:root {
  --base-color: rgb(250, 159, 102);
  --base-dark-color: rgb(43, 44, 48);
  --color-L: rgb(245, 115, 39);
  --color-J: rgb(5, 8, 166);
  --color-T: rgb(144, 109, 214);
  --color-S: rgb(37, 120, 12);
  --color-Z: rgb(173, 54, 72);
  --color-O: rgb(236, 240, 31);
  --color-I: rgb(90, 232, 230);
}

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--base-dark-color);
}

p {
  color: white;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.main-wrapper {
  display: flex;
}

/* score */

.score-box {
  margin-top: 40px;
  width: 140px;
  height: 545px;
}

.play-key-box {
  margin-top: 50px;
}

.play-item-wrapper {
  margin-bottom: 16px; 
  width: 116px;
  padding: 8px;
}

/* move */
.move-vocubrarys-board {
  width: 260px;
  height: 26px;
  border: 1px solid white;
  display: flex;
  background-color: var(--base-dark-color);
}

.move-cell {
  width: 26px;
  height: 26px;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

/* tetris */

.tetris-wrapper {
  padding: 40px;
}

.tetris-wrapper.selected {
  background-color: var(--base-color);
}

.tetris-board {
  width: 260px;
  height: 520px;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--base-dark-color);
}

.tetris-cell {
  width: 26px;
  height: 26px;
  border: 1px solid white;
  box-sizing: border-box;
}

.tetris-cell.M {
  background-color: var(--base-color);
}

.tetris-cell.L {
  background-color: var(--color-L);
}

.tetris-cell.J {
  background-color: var(--color-J);
}

.tetris-cell.T {
  background-color: var(--color-T);
}

.tetris-cell.S {
  background-color: var(--color-S);
}

.tetris-cell.Z {
  background-color: var(--color-Z);
}

.tetris-cell.O {
  background-color: var(--color-O);
}

.tetris-cell.I {
  background-color: var(--color-I);
}

.colide-shadow {
  background-color: #eee;
}

/* select-word */

.select-word-wrapper {
  display: flex;
  padding: 40px;
}

.select-word-wrapper.selected {
  background-color: var(--base-color);
}

.word-missed-score {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typed {
  color: var(--base-color);
}

.select-word-board {
  padding: 10px;
  width: 460px;
  height: 545px;
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--base-dark-color);
}

.select-row {
  width: 460px;
  height: 136px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.mini-mino-board {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.mini-board-cell {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  box-sizing: border-box;
}

.mini-board-cell.L {
  background-color: var(--color-L);
}

.mini-board-cell.J {
  background-color: var(--color-J);
}

.mini-board-cell.T {
  background-color: var(--color-T);
}

.mini-board-cell.S {
  background-color: var(--color-S);
}

.mini-board-cell.Z {
  background-color: var(--color-Z);
}

.mini-board-cell.O {
  background-color: var(--color-O);
}

.mini-board-cell.I {
  background-color: var(--color-I);
}

.word-box {
  width: 98px;
  height: 25px;
  border: 1px solid white;
  color: white;
}

.start-anime-display  { 
  display: none;
}

.start-anime-box  {
  width: 180px;
  height: 180px;
  background-color: white;
  border: 6px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 120px;
}

.start-message {
  display: none;
  font-size: 80px;
  color: rgb(235, 108, 91);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* start select display */
.start-select-display {
  background-color: var(--base-dark-color);
  border: 10px solid white;
  width: 730px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-select-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  font-size: 90px;
  color: white;
}

.title-char-wrapper {
  display: flex;
}

.title span {
  display: block;
  margin: 5px;
}


.T {
  color: rgb(245, 115, 39);
}

.e {
  color: rgb(90, 232, 230);
}

.t {
  color: rgb(173, 54, 72);
}

.r {
  color: rgb(144, 109, 214);
}

.i {
  color: rgb(236, 240, 31);
}

.p {
  color: white;
}

.n {
  color: rgb(5, 8, 166);
}

.g {
  color: rgb(37, 120, 12);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.play-button {
  width: 300px;
  font-size: 50px;
  margin-bottom: 30px;
}

.rule-explain-button {
  width: 300px;
  font-size: 50px;
}

.play-button:hover {
  background-color: rgb(245, 115, 39);
}

.rule-explain-button:hover {
  background-color: rgb(245, 115, 39);
}

/* game over */
.game-over-modal { 
  display: none;
  height: 200px;
  padding: 40px;
  color: white;
  background-color: var(--base-dark-color);
  border: 10px solid white;
  border-radius: 20px;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over-message  {
  margin-bottom: 10px;
}

.result-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.result-score {
  color: white;
  font-size: 20px;
}

.result-best-score {
  color: white;
  font-size: 20px;
}

.play-again-button {
  padding: 16px;
  display: block;
  margin: 0 auto;
}

.play-again-button:hover { 
  background-color: rgb(245, 115, 39);
}


